body {
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

.clearfix::after {
    content: "";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}